.header{
    flex: 1;
   background-color: var(--bg-color-1);
   padding: 20PX;
   overflow-y: scroll;
}



.header p{
    font-size: 1rem;
    line-height: 1.875rem;
    color: var(--text-color-1);
    display: flex;
    justify-content: flex-end;
}

.header_expression{
    overflow-x: scroll;    
    width: 100%;
    min-height: 30px;
}
.header-expression p{
    white-space: nowrap;
    width: fit-content;
}

 .header .header_result{
    font-size: 2rem;
    font-weight: bold;
    min-height: 30px;
 }